<!--<script type="text/javascript" src="../../app/controller/js/login_form_submit.js"></script>-->
<script type="text/javascript" src="/web_semestral/app/controller/js/login_form_submit.js"></script>

<form method='post' id='login_form'>
    <dl>
        <dt>Username</dt>
        <dd><input type='text' name='username' id='uname'></dd>
        <dt>Password</dt>
        <dd><input type='password' name='password' id='passwd'></dd>
        <dd><input type='button' name='login' value='Přihlásit' id='login' onclick='submitForm("login")'>
            <input type='button' name='reg' value='Registrovat' id='reg' onclick='submitForm("register")'></dd>
    </dl>
</form>